*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'overpass', sans-serif;
}

.tabs-systeme{
    width: 500px;
    margin: 100px auto 0 auto;
}

.tabs{
    display: flex;
}

.tabs li{
    height: 40px;
    background-color: #f2f2f2;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
}

.tabs li.active{
    background-color: #fff;
}

.tabs li a{
    padding: 10px 20px;
    display: block;
    color: inherit;
    text-transform: uppercase;
    font-size: 14px;
}

.tab-content{
    padding: 30px 20px;
    background-color: #fff;
    position: relative;
    z-index: 3;
    display: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    line-height: 1.5em;
    font-size: 15px;
}

.tab-content.active{
    display:block;
}